

body{
    background-color: rgb(202, 166, 215);
}

.loli-grid{
    margin-top: 10%;
    height: 450px;
    width: 500px;
    background-color: rgba(121, 192, 111, .7);
    border: 1px solid gold;
    position: relative;
    display: flex;
}
.row{
    flex: 1;
}